<header>
    <div class="container">
        <!-- Navigation Button -->
        <div class="nav-button">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- Name and Title -->
        <div class="header-center">
            <div class="name">
                <h1>Dr. Wong Seng Yue</h1>
            </div>

        </div>

        <!-- Vertical Line -->
        <div class="vertical-line"></div>

        <!-- Navigation Links -->
        <nav class="nav-links">
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </nav>
    </div>
</header>